@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

#list {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  align-items: center;
}

#list .card {
  align-items: center;
  background-color: #55e0bd;
  border: 1px solid #25b591;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  position: relative;
  width: 100%;
  max-width: calc(25% - 40px);
}

#list .card img {
  margin: auto;
  max-width: 100%;
}

#list .card .name {
  font-size: 24px;
  color: #3c3c3c;  
  text-transform: capitalize;
  margin-top: 20px;
}

#list .card .number {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background-color: #25b591;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: 1.2;
}

@media all and (max-width: 1023px) {
  #list .card {
    max-width: calc(50% - 40px);
  }
}

@media all and (max-width: 575px) {
  #list .card {
    max-width: calc(100% - 40px);
  }
}